.BarChart {
    border: 2px solid black;
    text-align: center;
    background: #f5f5f5;
    color: #333;
    margin: 20px;
    padding: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}